body {
  font-family: Helvetica, sans-serif;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  padding: 10px;
}

img {
  max-width: 100%;
}

.cf {
  text-align: left;
  padding: 10px 20px;
  margin-top: 60px;
  color: #777;
  font-size: 0.75em;
}

.cf h1 {
  font-size: 1em;
  font-weight: normal;
  text-decoration: underline;
}
